In [6]:
#!pip install psycopg2

from pandas import DataFrame

In [2]:
import psycopg2

conn = psycopg2.connect(host='bileto.cn8bpfcjio3s.us-east-1.redshift.amazonaws.com', port='5439', dbname='bileto', user='gabriel.machado.balbi', password='NC9M?A-KuCsN)x=)')

/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
cur = conn.cursor()

In [12]:
cur.execute('select * from public.sales limit 10;')

In [13]:
df = DataFrame(cur.fetchall())

In [14]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,166931009,11476410,2014-01-01 00:00:33,2014-01-01,2013-12-30,2014-01,3384976,16882725691,vacil@hipermotos.com.br,1929,...,None,None,300.0,0,2017-09-07 16:34:38.209340,None,None,None,None,None
1,166931011,11476410,2014-01-01 00:00:33,2014-01-01,2013-12-30,2014-01,3384976,16882725691,vacil@hipermotos.com.br,1929,...,None,None,300.0,0,2017-09-07 16:34:38.209340,None,None,None,None,None
2,166931071,11476410,2014-01-01 00:00:33,2014-01-01,2013-12-30,2014-01,3384976,16882725691,vacil@hipermotos.com.br,1929,...,None,None,600.0,0,2017-09-07 16:34:38.209340,None,None,None,None,None
3,171597307,11476411,2014-01-01 00:01:58,2014-01-01,2013-12-30,2014-01,None,None,None,2342,...,None,None,350.0,0,2017-09-07 16:40:25.220658,None,None,None,None,None
4,171597308,11476411,2014-01-01 00:01:58,2014-01-01,2013-12-30,2014-01,None,None,None,2342,...,None,None,350.0,0,2017-09-07 16:40:25.220658,None,None,None,None,None
5,169303856,11476412,2014-01-01 00:02:21,2014-01-01,2013-12-30,2014-01,3384975,06716032304,antoniosa@superig.com.br,1929,...,None,None,400.0,0,2017-09-07 16:35:16.462628,None,None,None,None,None
6,166934299,11476414,2014-01-01 00:30:45,2014-01-01,2013-12-30,2014-01,889957,32506765867,juliocesar.soares@terra.com.br,1929,...,mairinque,sp,180.0,0,2017-09-07 23:05:42.752045,None,None,None,None,None
7,166934298,11476414,2014-01-01 00:30:45,2014-01-01,2013-12-30,2014-01,889957,32506765867,juliocesar.soares@terra.com.br,1929,...,mairinque,sp,180.0,0,2017-09-07 16:08:19.191354,None,None,None,None,None
8,166934300,11476414,2014-01-01 00:30:45,2014-01-01,2013-12-30,2014-01,889957,32506765867,juliocesar.soares@terra.com.br,1929,...,mairinque,sp,180.0,0,2017-09-07 16:08:19.191354,None,None,None,None,None
9,166934301,11476414,2014-01-01 00:30:45,2014-01-01,2013-12-30,2014-01,889957,32506765867,juliocesar.soares@terra.com.br,1929,...,mairinque,sp,180.0,0,2017-09-07 16:08:19.191354,None,None,None,None,None

In [15]:
cur.close()
conn.close()